* {
    box-sizing: border-box;
    font-size: 0px;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background: white;
    color: black;
    padding: 0px;
    margin: 0px;
}

hr {
  width: 100%;
  margin: 30px 0 30px 0;
  border-top: 1px solid #33FFFF;
}
/* -----------------------------  POSTER ELEMENTS  ---------------------------------*/

.float_contain {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65vw;

}

.wrapper {
    position: relative;
    background: #efeeed;
    width: 88vh;

    margin: 6vh auto;
    z-index: 2;
}


.container {
    position: relative;
    width: 54vh;
        padding: 4vh;
}

.vl {
  border-left: 1px solid #ff33ff;
  height: 100%;
  position: absolute;
  left: 72%;
  margin-left: -3px;
  top: 0;
}

.dot1{
height: 40px;
width: 40px;
position: absolute;
Right: 12%;
bottom: 12%;
background-color: #fff;
border-radius: 50%;
display: inline-block;
border: 0px solid;
box-shadow: 2px 4px 2px #777777 inset;
}

.dot2{
height: 40px;
width: 40px;
position: absolute;
Right: 30%;
bottom: 12%;
background-color: #fff;
border-radius: 50%;
display: inline-block;
border: 0px solid;
box-shadow: 2px 4px 2px #777777 inset;
}

.dot3{
height: 40px;
width: 40px;
position: absolute;
Right: 21%;
bottom: 30%;
background-color: #fff;
border-radius: 50%;
display: inline-block;
border: 0px solid;
box-shadow: 2px 4px 2px #777777 inset;
}

/* -----------------------------  SIDEBAR  ---------------------------------*/

.details {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 35vw;
    height: 100vh;
    background: #000;
    font-family: 'Roboto Mono', sans-serif;
    padding: 4vw;
}

.details p {
    font-size: 2vh;
    color: #efeeed;
    line-height: 3vh;
}

.sm {
    font-size: 1.5vh;
    color: #fff;
}

.category {
    font-size: 1.5vh;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 8vh;
}


#date {
    font-size: 5vh;
    margin: 0px;
}

#address {
    margin:8vh 0px;
    font-size: 1.5vh;
}

#speakers {
    position: relative;
}

.CTA {
    width: 18vw;
    background: #33FFFF;
    font-size: 2.5vh;
    margin: 4vh 0px 1vh 0px;
    padding: 1.5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: static;
}

.CTA:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: -5px 5px #fff;
}

.CTA2 {
    width: 18vw;
    background: #ff33ff;
    font-size: 2.5vh;
    margin: 1vh 0px 4vh 0px;
    padding: 1.5vh;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: static;
}

.CTA2:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: -5px 5px #fff;
}


/* -----------------------------  CHARACTERISTICS  ---------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-family: Fugue Head;
  font-size:30px;
  line-height: 30px;
  font-style:normal;
  padding:0;
  margin:0;
}

p, a {
  font-family: 'Roboto Mono', sans-serif;
  font-size:30px;
  font-style:normal;
  padding:0;
  margin:0;
}

.title {
    font-family: Fugue Head;
    /* font-weight: bold; */
    font-size: 6.5vh;
    line-height: 7.5vh;
}

.shadow {
    -moz-box-shadow:    40px 40px 100px #ccc;
    -webkit-box-shadow: 40px 40px 100px #ccc;
    box-shadow:         40px 40px 100px #ccc;
  }


 .c {
     display: inline-block;
 }

 .spacer {
     height: 6vh;
     margin-bottom: 1vh;
     vertical-align: bottom;
 }

 .l {
     text-align: left;
 }

 .r {
    text-align: right;
}


 .c1 {
     width: 10%;
 }
 .c2 {
    width: 20%;
}
.c3 {
    width: 30%;
}
.c4 {
    width: 40%;
}
.c5 {
    width: 50%;
}
.c6 {
    width: 60%;
}
.c7 {
    width: 70%;
}
.c8 {
    width: 80%;
}
.c9 {
    width: 90%;
}
.c10 {
    width: 100%;
}

/* -----------------------------  SLIDERS  ---------------------------------*/

.slider {
    margin-top: 2.8vh;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 99%; /* Full-width */
    height: 2px; /* Specified height */
    background: #A4AAB3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 1; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 0.7; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 3.5vh; /* Set a specific slider handle width */
    height: 3.5vh; /* Slider handle height */
    border-radius: 100%;
    cursor: pointer; /* Cursor on hover */
    /* Knob: */
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.10);
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.02), 0 2px 2px 0 rgba(0,0,0,0.05), 0 3px 3px 0 rgba(0,0,0,0.02);
}

.slider::-moz-range-thumb {
    width: 3.5vh; /* Set a specific slider handle width */
    height: 3.5vh; /* Slider handle height */
    border-radius: 100%;
    cursor: pointer; /* Cursor on hover */
    /* Knob: */
    background: #FFFFFF;
    border: 0 solid rgba(0,0,0,0.50);
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.02), 0 2px 2px 0 rgba(0,0,0,0.05), 0 3px 3px 0 rgba(0,0,0,0.02);
}




/* -----------------------------  MOBILE  ---------------------------------*/

@media screen and (max-width: 760px) {

    .float_contain {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .wrapper {
        position: relative;
        background: #efeeed;
        width: 88vw;
        max-width: 400px;
        margin: 12vh auto;
        z-index: 2;
    }


    .container {
        position: relative;
        width: 74vw;
        max-width: 335px;

    }




    .details {
        position: relative;
        right: 0px;
        top: 0px;
        width: 100vw;
        height: 130vh;
        background: #000;
        font-family: Helvetica, sans-serif;
        padding: 4vh;
    }

    .details p {
        font-size: 3vh;
    }


    .title {
        font-size: 5vh;
        line-height: 6vh;
    }

    .spacer {
        height: 5vh;
        margin-bottom: 1vh;
        vertical-align: bottom;
    }

    #date {
        font-size: 7vh;
        position: relative;
    }

    #address {
        margin-top: 12vh;
        font-size: 3vh;
    }

    #speakers {
        font-size: 5vh;
        position: relative;
    }

    .sm {
        font-size: 1.75vh;
    }

    .CTA {
        width: 40vw;
    }

}



/* -----------------------------  XL  ---------------------------------*/

@media screen and (min-width: 1400px) {

    .float_contain {
        width: 70vw;
    }

    .details {
        width: 30vw;
    }
}
