body {
  margin: 0px;
  background-color: white;
  height: 100%;
}

.content {
  padding: 30px;
}

h1 {
  font-size: xx-large;
  font-family: stevie-sans, sans-serif;
  font-weight: 400;
}

h2 {
  font-size: x-large;
  font-family: stevie-sans, sans-serif;
  font-weight: 400;
}

h3, h4 {
  font-size: medium;
  font-family: stevie-sans, sans-serif;
  font-weight: 400;
}

.wrapper {
  display: grid;
  height: 20vh;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  width: 20vw;
  display: block;
}

.two {
  width: 18vw;
  display: block;
}

.wrapper-2 {
  display: block;
  position: relative;
  height: 50vh;
  margin-top: 20vh;
}

.wrapper-3 {
  display: grid;
  position: relative;
  grid-template-columns: .5fr 1fr 1fr;
  gap: 7.65vw;
  height: 70vh;
  width: 90vw;
}

.wrapper-3-1 {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  gap: 8vw;
  grid-auto-rows: minmax(40vw, auto);
  width: 90vw;
  top: 10vh;
}

.wrapper-4 {
  position: relative;
  display: flex;
}

.wrapper-5 {
  position: relative;
  display: grid;
  margin-top: -5vh;
  grid-template-columns: 1fr;
  /* gap: 8vw; */
  /* grid-auto-rows: minmax(5vw, auto); */
}

.dot {
  height: 130px;
  width: 130px;
  background-color: #D5DF35;
  color: black;
  border-radius: 50%;
  display: inline-flex;
  margin-left: 190px;
  align-items: center; 
  justify-content: center;
  font-size: x-large;
  font-family: stevie-sans, sans-serif;
}

.dot:hover {
  color: beige;
}

.little-dot {
  height: 30px;
  width: 30px;
  background-color: #D5DF35;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  right: 2vw;
  bottom: 2.2vh;
}

.logo {
  position: relative;
  display: flex;
  width: 95vw;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: beige;
}

h4:hover {
  color: beige;
}

.foot-container {
  display: flex;
  position: relative;
  width: 100vw;
  height: auto;
  overflow:hidden;
  margin-bottom: -65px;
  z-index: -10;
}

.footer-text {
  display: flex;
  position: relative;
  text-align: left;
  padding-left: 20px;
}

@media (min-width: 450px) {
  .m-landing, .m-footer, .m-footer-text, .m-wrapper, .m-wrapper-2, .m-wrapper-3, .m-wrapper-3-1, .m-svg, .m-wrapper-4 {
    display: none;
  }
}



/* MOBILE */
@media (max-width: 450px) {
  
  .content, .footer, .footer-text, .foot-container, .wrapper, .wrapper-2, .wrapper-3, .wrapper-3-1, .wrapper-4, .little-dot{
    display: none;
  }

  h3 {
    font-size: x-small;
    font-family: stevie-sans, sans-serif;
    font-weight: 450;
  }

  h2 {
    font-size: small;
  }

  h1 {
    font-size: large;
  }

  h4 {
    font-size: x-small;
  }

  .m-landing {
    position: relative;
    padding: 20px;
    height: 100vh;
    width: 90vw;
  }

  .m-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .m-one {
    display: inline-block;
    position: relative;
    text-align: left;

  }

  .m-two {
    display: inline-block;
    position: relative;
    text-align: right;
  }

  .m-logo {
    position: relative; 
    margin-top: -10vh;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) rotate(270deg); 
    display: block;
    height: auto;
    width: 90vw;
    align-items: center;
    justify-content: center;
  }

  .m-dot {
    display: flex;
    position: absolute; 
    bottom: 60px; 
    right: 20px; 
    height: 100px;
    width: 100px;
    background-color: #D5DF35;
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    font-size: large;
    font-family: stevie-sans, sans-serif;
  }

  .m-wrapper-2 {
    display: block;
    position: relative;
  }

  .m-wrapper-3 {
    display: block;
    position: relative;
    padding: 20px;
    margin-top: -5vh;
    width: 90vw;
    height: 60vh;
  }

  .m-wrapper-3-1 {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 2vw;
    grid-auto-rows: minmax(4vw, auto);
    margin-top: 3vh;
  }

  .m-wrapper-4 {
    padding: 20px;
  }

  .m-svg {
    height: max-content;
  }

  .m-footer {
    display: flex;
    position: relative;
    width: 100vw;
  }

  .m-foot-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 28vh;
    overflow: hidden; 
  }

  .m-footer-text {
    display: flex;
    position: relative;
    text-align: left;
    margin-top: -40px;
    padding-left: 20px;
  }

  .m-little-dot {
      height: 15px;
      width: 15px;
      background-color: #D5DF35;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      right: 4vw;
      bottom: 1vh;
  }
}
