body {
  margin: 0px;
  background-color: white;
  height: 100%;
}

.content {
  padding: 20px;
  margin-bottom: -45px;
}

h1 {
  font-size: x-large;
  font-family: stevie-sans, sans-serif;
  font-weight: 400;
}

h3 {
  font-size: medium;
  font-family: stevie-sans, sans-serif;
  font-weight: 400;
}

h4 {
  font-size: medium;
  font-family: stevie sans, sans-serif;
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  width: 200px;
  display: block;
}

.two {
  width: 250px;
  display: block;
}

.wrapper-2 {
  display: block;
  margin-top: 160px;
  height: 540px;
  width: 650px;
}

.dot {
  height: 130px;
  width: 130px;
  background-color: #D5DF35;
  border-radius: 50%;
  display: inline-flex;
  margin-left: 190px;
  align-items: center; 
  justify-content: center;
  font-size: x-large;
  font-family: stevie-sans, sans-serif;
  font-weight: 400; 
}

.dot :hover {
  color: beige;
}

.logo {
  width: 1200;
  height: 600;
}

a {
  text-decoration: none;
  color :black;
}

h4 :hover {
  color: beige;
}

.foot-container {
  display: flex;
  margin-bottom: -65px;
}

.footer-text {
  display: block;
  text-align: left;
  padding-left: 20px;
}

@media (min-width: 450px) {
  .m-content {
    display: none;
  }

  .m-footer {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 450px) {
  
  .content {
    display: none;
  }

  .footer {
    display: none;
  }

  .footer-text {
    display: none;
  }

  .wrapper {
    display: none;
  }

  .wrapper-2 {
    display: none;
  }

  .m-content {
    padding: 20px;
    height: 100;
  }

  .m-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  h3 {
    font-size: x-small;
    font-family: stevie-sans, sans-serif;
    font-weight: 450;
  }

  h1 {
    font-size: large;
  }

  h4 {
    font-size: x-small;
  }

  .m-one {
    text-align: left;
    display: block;
    align-content: start;
  }

  .m-two {
    text-align: right;
    display: block;
  }

  .m-dot {
    height: 110px;
    width: 110px;
    background-color: #D5DF35;
    border-radius: 50%;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    font-size: large;
    font-family: stevie-sans, sans-serif;
    font-weight: 400; 
  }

  .m-logo-wrapper {
    margin-top: 410px;
    transform: rotate(270deg);
  }

  .m-wrapper-2 {
    display: block;
    margin-top: 110px;
    margin-bottom: -100px;
  }

  .m-footer {
    display: block;
  }

  .m-foot-container {
    display: flex;
  }

  .m-footer-text {
    display: block;
    text-align: left;
    margin-top: -40px;
    padding-left: 20px;
  }

}
